// Colors
$blue-sky: #1c88bf;
$blue-dark: #364051;
$grey-dark: #333;
$grey-light: #f7f7f7;
$white: #fff;

// Font Size 
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
